body {
    background-color: darkblue;
    background-image:linear-gradient(to bottom, darkblue,red);
    background-repeat: no-repeat;
    background-position: top center;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-header {
    background-image: linear-gradient(to right, purple, coral);
    border-radius: 16px;
    text-align: center;
    color: white;
}
.fact-card {
    background-color: midnightblue;
    color: white;
    border-radius: 12px;
}
.fact-card h2{
     color: darkred;
}
.star {
    background-color: yellow;
    width: 60px;
    height: 60px;
    border-radius:50%;
    animation: twinkle 2s infinite alternate;
}
@keyframes twinkle {
    from {
        background-color: yellow;
    }

    to {
        background-color: white;
    }
}
.footer-text{
    text-align:center ;
    color: aquamarine;
}